{% extends 'layout.twig' %}

{% block content %}
    <div class="container">
        <div class="alert alert-success" role="alert">La invitacion ha sido enviada correctamente</div>
    </div>
{% endblock %}